* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.quill .ql-container.ql-snow {
  min-height: 11.7in;

  border: none;
}
.node-input {
  font-size: 12px;
  line-height: 23px;
  box-sizing: content-box;
  letter-spacing: 0.15px;
  cursor: text;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  margin-left: 31px;
  margin-bottom: 8px;
}
.MuiBox-root.css-k008qs ul {
  list-style: none;
}
#toolbar {
  border: none;
  background-color: rgb(247, 249, 252);
}

.ql-snow .ql-picker {
  color: rgb(110, 126, 141);
}
#toolbar .ql-formats.dark {
  background-color: rgb(247, 249, 252);
  padding: 4px 6px;
}
.ql-formats {
  margin-right: 0 !important ;
}
.ql-active {
  background-color: rgb(214, 228, 252);
}
