* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ql-container.ql-snow {
  min-height: 11.7in;
}
.node-input {
  font-size: 12px;
  line-height: 23px;
  box-sizing: content-box;
  letter-spacing: 0.15px;
  cursor: text;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  margin-left: 31px;
  margin-bottom: 8px;
}
.MuiBox-root.css-k008qs ul {
  list-style: none;
}
